html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  --border-radius: 1rem;
  --page-width: 62rem;
  --page-padding: 0 1rem;
  --header-height: 6.25rem;
  --footer-height: 7.5rem;
  --primary-color: #fafafa;
  --secondary-color: #055b01;
  --tertiary-color: #252525;
  --text-color: rgba(255, 255, 255, 0.607);
  --subtext-color: #aaaaaaa4;
  --background-color: #121212;
  --card-background-color: #202020;
  --scroll-bar-color: rgba(255, 255, 255, 0.5);
  --box-shadow-color: rgba(0, 0, 0, 0.16);
  --box-shadow-hover-color: rgba(0, 0, 0, 0.32);
  --base-font: Fira Sans, sans-serif;

  height: 100%;
  background-color: var(--background-color);

  /* Disable smooth scrolling when users have prefers-reduced-motion enabled */
  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}
