name: Release CI

on:
  push:
    branches:
      - main

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      NUXT_SANITY_PROJECT_ID: ${{ secrets.NUXT_SANITY_PROJECT_ID }}
      NUXT_SANITY_DATASET: ${{ secrets.NUXT_SANITY_DATASET }}
      NUXT_HARDCOVER_API_KEY: ${{ secrets.NUXT_HARDCOVER_API_KEY }}
      NETLIFY_URL: https://leda.fyi
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --shamefully-hoist
      - name: Run linter
        run: pnpm lint:ci

  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      NUXT_SANITY_PROJECT_ID: ${{ secrets.NUXT_SANITY_PROJECT_ID }}
      NUXT_SANITY_DATASET: ${{ secrets.NUXT_SANITY_DATASET }}
      NUXT_HARDCOVER_API_KEY: ${{ secrets.NUXT_HARDCOVER_API_KEY }}
      NETLIFY_URL: https://leda.fyi
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.1
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --shamefully-hoist
      - name: Run tests
        run: pnpm test

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [lint, test]
    env:
      NUXT_SANITY_PROJECT_ID: ${{ secrets.NUXT_SANITY_PROJECT_ID }}
      NUXT_SANITY_DATASET: ${{ secrets.NUXT_SANITY_DATASET }}
      NUXT_HARDCOVER_API_KEY: ${{ secrets.NUXT_HARDCOVER_API_KEY }}
      NETLIFY_URL: https://leda.fyi
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.1
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --shamefully-hoist
      - name: Build production bundle
        run: pnpm build

  deploy:
    name: Deploy & Audit
    runs-on: ubuntu-latest
    needs: [build]
    env:
      NUXT_SANITY_PROJECT_ID: ${{ secrets.NUXT_SANITY_PROJECT_ID }}
      NUXT_SANITY_DATASET: ${{ secrets.NUXT_SANITY_DATASET }}
      NUXT_HARDCOVER_API_KEY: ${{ secrets.NUXT_HARDCOVER_API_KEY }}
      NETLIFY_URL: https://leda.fyi
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.1
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --shamefully-hoist
      - name: Build production bundle
        run: pnpm build
      - name: Deploy to production
        run: pnpm run deploy --prod --site ${{ secrets.NETLIFY_SITE_ID }} --auth ${{ secrets.NETLIFY_TOKEN }} --message "${{ github.event.head_commit.message }}"
      - run: echo "Deployed to production at https://leda.fyi" >> $GITHUB_STEP_SUMMARY

      - name: Audit production using Lighthouse
        id: lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            https://leda.fyi
            https://leda.fyi/ramblings
          temporaryPublicStorage: true
      - name: Lighthouse results summary
        run: |
          echo '### Lighthouse check :white_check_mark:' >> $GITHUB_STEP_SUMMARY
          echo ' ' >> $GITHUB_STEP_SUMMARY
          echo "**Home:**" >> $GITHUB_STEP_SUMMARY
          echo "Performance: ${{ fromJSON(steps.lighthouse.outputs.manifest)[0].summary.performance }}" >> $GITHUB_STEP_SUMMARY
          echo "Accessibility: ${{ fromJSON(steps.lighthouse.outputs.manifest)[0].summary.accessibility }}" >> $GITHUB_STEP_SUMMARY
          echo "Best Practices: ${{ fromJSON(steps.lighthouse.outputs.manifest)[0].summary.best-practices }}" >> $GITHUB_STEP_SUMMARY
          echo "SEO: ${{ fromJSON(steps.lighthouse.outputs.manifest)[0].summary.seo }}" >> $GITHUB_STEP_SUMMARY
          echo "PWA: ${{ fromJSON(steps.lighthouse.outputs.manifest)[0].summary.pwa }}" >> $GITHUB_STEP_SUMMARY
          echo ' ' >> $GITHUB_STEP_SUMMARY
          echo "**Ramblings:**" >> $GITHUB_STEP_SUMMARY
          echo "Performance: ${{ fromJSON(steps.lighthouse.outputs.manifest)[1].summary.performance }}" >> $GITHUB_STEP_SUMMARY
          echo "Accessibility: ${{ fromJSON(steps.lighthouse.outputs.manifest)[1].summary.accessibility }}" >> $GITHUB_STEP_SUMMARY
          echo "Best Practices: ${{ fromJSON(steps.lighthouse.outputs.manifest)[1].summary.best-practices }}" >> $GITHUB_STEP_SUMMARY
          echo "SEO: ${{ fromJSON(steps.lighthouse.outputs.manifest)[1].summary.seo }}" >> $GITHUB_STEP_SUMMARY
          echo "PWA: ${{ fromJSON(steps.lighthouse.outputs.manifest)[1].summary.pwa }}" >> $GITHUB_STEP_SUMMARY
